@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap);

:root {
    --black:#0D0D0D;
    --grey:#F2F2F2;
    --teal:#7ABFBF;
    --light-teal:rgba(122, 191, 191, .5);
    --red:#EB5428;
}

h1 {
    font-family: "Bebas Neue", serif;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

h2 {
    font-family: "Bebas Neue", serif;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: "Bebas Neue", serif;
    font-size: 25px;
}

html {
    background-color: var(--light-teal);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--grey);
    margin: 0px;
    padding: 0px;
    padding-top: 230px;
}

main p {
    padding-left: 20px;
    padding-right: 20px;
}

#menu li {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    padding: 10px 15px;
}

#menu ul {
    list-style: none;
    display: flex;
    margin: 0;
}

#menu a {
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
    color: var(--red);
}

#hero img {
    width: 100%;
}

nav {
    grid-area: nav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index:5;
    font-family: "Montserrat", serif;
    font-size: 16px;
}

nav a {
    font-family: "Bebas Neue", serif;
    font-size: 20px;
}

nav ul {
    grid-area: hamberger;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
}

nav li img {
    display: none;
}

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav label {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    bottom: 5px;
    left: 30px;
}

nav span {
    display: block;
    position: relative;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
}

nav label svg {
    display: block;
}

label span:before, label span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 550px;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

#sign-in {
    position: fixed;
    top: 15px;
    right: 0px;
    color: var(--black);
}

#logo {
    display: flex;
    position: fixed;
    margin: auto;
    z-index: 3;
    top:0%;
    width: 45%;
    right: 80px;
    background-color: var(--red);
    justify-content: center;
    height: 77px;
}

p {
    font-family: "Montserrat", serif;
    font-size: 16px;
}

dd {
    font-family: "Montserrat", serif;
    font-size: 16px;
}

li {
    font-family: "Montserrat", serif;
    font-size: 16px;
    padding: 5px;
}

#need {
    background-color: var(--teal);
    padding: 20px;
}

input {
    font-family: "Montserrat", serif;
    font-size: 16px;
}

#searchbar {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--red);
    width: 70%;
    margin: auto;
    padding: 1px;
    top: 150px;
    left: 10%;
    right: 10%;
}

#searchbar input{
    height: auto;
    width: 100%;
}

#searchbar svg {
   stroke: var(--grey);
}

dt {
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 16px;
}

#rice svg {
    fill: var(--red);
}

#rice p {
    display: inline;
}

#rice {
    display: inline;
}

#salsa svg {
    fill: var(--red);
}

#salsa p {
    display: inline;
}

#salsa {
    display: inline;
}

#guacamole svg {
    fill: var(--red);
}

#guacamole p {
    display: inline;
}

#guacamole {
    display: inline;
}

#tortilla svg {
    fill: var(--red);
}

#tortilla p {
    display: inline;
}

#tortilla {
    display: inline;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    background-color: #ffffff;
    padding-bottom: 40px;
}

footer img {
    width: 60%;
    margin: auto;
    padding: 20px;
}

#social ul {
    padding: 0px;
    margin: 0px;
}

#social li {
    display: inline-flex;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    list-style: none;
    padding: 10px 15px;
}

#social a {
    text-decoration: none;
    color: var(--red);
}

footer span {
    display: flex;
    justify-content: center;
}